In [1]:
import pandas as pd
import plotly.express as px
from plotly.figure_factory import create_table

In [3]:
# !pip install plotly

In [5]:
url = 'https://raw.githubusercontent.com/sthnischal/AI-ML-Bootcamp/master/Day%204/covid.csv'
df=pd.read_csv(url)
df=df.drop('Unnamed: 0',axis=1)
df['Date']=pd.to_datetime(df['Date'],dayfirst=True)

In [6]:
df.head()

        Date      Country Continent Code  Cases  Deaths
0 2020-09-01  Afghanistan      Asia  AFG     34       4
1 2020-08-31  Afghanistan      Asia  AFG     19       0
2 2020-08-30  Afghanistan      Asia  AFG      3       0
3 2020-08-29  Afghanistan      Asia  AFG     11       1
4 2020-08-28  Afghanistan      Asia  AFG      3       0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39956 entries, 0 to 39955
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       39956 non-null  datetime64[ns]
 1   Country    39956 non-null  object
 2   Continent  39956 non-null  object
 3   Code       39892 non-null  object
 4   Cases      39956 non-null  int64
 5   Deaths     39956 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.8+ MB

In [8]:
df.shape

(39956, 6)

In [11]:
#create_table(df.head())

In [12]:
#fig=px.pie(df,values='Cases',names='Continent')
#fig.show()

In [13]:
#fig=px.pie(df,values='Cases',names='Continent',title='Covid cases continent wise')
#fig.show()

In [14]:
#fig=px.pie(df,values='Cases',names='Continent',title='Covid cases continent wise',hole=0.5)
#fig.show()

In [15]:
#fig=px.pie(df,values='Cases',
#           names='Continent',
#           title='Covid cases continent wise',
#           hole=0.5,
#           height=500,
#           width=500)
#fig.show()

In [16]:
#fig=px.pie(df,values='Deaths',
#           names='Continent',
#           title='Covid Deaths continent wise',
#           hole=0.5,
#           height=500,
#           width=500)
#fig.show()

In [19]:
#def piechart(option):
#    fig=px.pie(df,values=option,names='Continent',
#              title='Piechart of Covid Continent wise '+option,
#              hole=0.3,
#              height=500,
#              width=500)
#    return fig.show()

In [20]:
#piechart('Deaths')

In [21]:
nepal_data=df[df['Country']=='Nepal']
nepal_data.head(5)

            Date Country Continent Code  Cases  Deaths
25746 2020-09-01   Nepal      Asia  NPL    899       7
25747 2020-08-31   Nepal      Asia  NPL   1221      14
25748 2020-08-30   Nepal      Asia  NPL    884      12
25749 2020-08-29   Nepal      Asia  NPL    927      12
25750 2020-08-28   Nepal      Asia  NPL   1111       8

In [22]:
#fig=px.bar(nepal_data,x='Date',y='Cases')
#fig.show()

In [23]:
#fig=px.bar(nepal_data,x='Date',y='Cases',title='Daily covid update')
#fig.show()

In [24]:
#fig=px.bar(nepal_data,x='Date',y='Cases',title='Daily covid update',
#          labels={'Cases':'Total Cases',
#                 'Date':'Date from jan to sep'})
#fig.show()

In [25]:
#fig=px.bar(nepal_data,x='Date',y='Cases',title='Daily covid update',
#          labels={'Cases':'Total Cases',
#                 'Date':'Date from jan to sep'},
#          height=500,
#          width=600)
#fig.show()

In [26]:
#fig=px.bar(nepal_data,x='Date',y='Cases',title='Daily covid update',
#          labels={'Cases':'Total Cases',
#                 'Date':'Date from jan to sep'},
#          height=500,
#          width=600,
#          color='Cases')
#fig.show()

In [28]:
#fig=px.bar(nepal_data,x='Date',y='Cases',title='Daily covid update',
#          labels={'Cases':'Total Cases',
#                 'Date':'Date from jan to sep'},
#          height=500,
#          width=600,
#          color='Cases',
#          hover_name='Date')
#fig.show()

In [29]:
#fig=px.bar(nepal_data,x='Date',y='Deaths',title='Nepal Daily covid update',
#          labels={'Deaths':'Total Deaths',
#                 'Date':'Date from jan to sep'},
#          height=500,
#          width=600,
#          color='Deaths',
#          hover_name='Date')
#fig.show()

In [30]:
def dailybar(country,option):
    data=df[df['Country']==country]
    if option=='Cases':
        color='Cases'
    else:
        color='Deaths'
    
    fig=px.bar(data,x='Date',y=option,
              title='Dialy Covid Update of '+country,
               height=500,
               width=900,
               labels={
                   'Date':'Date from jan to sep'
                   ,'Cases':'Total Cases'
                   ,'Deaths':'Total Deaths'
               },
               color=color
              )
    return fig.show()

In [32]:
#dailybar('India','Deaths')

In [33]:
#fig=px.scatter(nepal_data,x='Date',y='Cases',color='Cases')
#fig.show()

In [34]:
#fig=px.scatter(nepal_data,x='Date',y='Deaths',color='Deaths')
#fig.show()

In [35]:
#total_data=df.groupby(by=['Country','Date','Continent','Code']).sum().groupby(level=[0]).cumsum()
#total_data=total_data.reset_index()

In [36]:
#nepal_data=total_data[total_data['Country']=='Nepal']

In [37]:
#fig=px.line(nepal_data,x='Date',y='Cases',
#           title='Line graph of nepal cases')
#fig.show()

In [38]:
#fig=px.line(nepal_data,x='Date',y='Deaths',
 #          title='Line graph of nepal Deaths')
#fig.show()

In [39]:
#fig=px.line(nepal_data,x='Date',y=['Deaths','Cases'],
 #          title='Line graph of nepal Deaths and cases',
  #          labels={'variable':'Option',
   #                'value':'Totoal Cases'}
    #       )
#fig.show()

In [40]:
def Linechart(country):
    data=total_data[total_data['Country']==country]
    fig=px.line(data,x='Date',y=['Deaths','Cases'],
           title='Line graph of '+ country+' Deaths and cases',
            labels={'variable':'Option',
                   'value':'Totoal Cases'}
           )
    return fig.show()

In [41]:
#Linechart('Nepal')

In [42]:
#last_day=total_data[total_data['Date']=='2020-09-01']
#last_day=last_day.sort_values('Cases',ascending=False)

In [43]:
#fig=px.bar(last_day.head(10),x='Country',y=['Cases','Deaths'],
#          title='Top ten country having covid imapct'
#          ,hover_name='Continent'
#          ,barmode='group')
#fig.show()

In [44]:
#fig=px.scatter(last_day,x='Cases',y='Deaths',color='Continent',
#              range_x=[100,15000000],
#              range_y=[0,300000],
#               size='Cases',
#               size_max=60,
#               hover_name='Country',
#               log_x=True
               
 #             )

#fig.show()

In [46]:
##data_visual=total_data
#data_visual['Date']=data_visual['Date'].astype('str')

In [48]:
#fig=px.scatter(data_visual,x='Cases',y='Deaths',color='Continent',
#              range_x=[100,15000000],
#              range_y=[0,300000],
#               size='Cases',
#               size_max=60,
#               hover_name='Country',
#               log_x=True
               
#              )

#fig.show()

In [49]:
#fig=px.scatter(data_visual,x='Cases',y='Deaths',color='Continent',
 #             range_x=[100,15000000],
  #            range_y=[0,300000],
   #            size='Cases',
    #           size_max=60,
     #          hover_name='Country',
       #        log_x=True,
      #         animation_frame='Date',
        #       animation_group='Cases'
               
         #     )

#fig.show()

In [51]:
#fig=px.choropleth(last_day,
#                 locations='Code',
#                 color='Cases'
#                 ,hover_name='Country',
#                 )
#fig.show()

In [52]:
#fig=px.choropleth(last_day,
#                 locations='Code',
#                 color='Cases'
#                 ,hover_name='Country',
#                  projection='natural earth'
#                 )
#fig.show()

In [53]:
#fig=px.choropleth(last_day,
#                 locations='Code',
#                 color='Cases'
#                 ,hover_name='Country',
#                  projection='orthographic'
#                 )
#fig.show()

In [56]:
#fig=px.choropleth(data_visual,
#                 locations='Code',
#                 color='Cases'
#                 ,hover_name='Country',
#                  projection='natural earth',
#                  animation_frame='Date',
#                  animation_group='Cases'
#                 )
#fig.show()